.credentials {
  max-width: 400px;
  margin: auto;
  margin-top: 2rem;
  background-color: rgba(227, 227, 227, 0.63);
  padding: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(148, 148, 148);

  label {
    color: black;
  }

  a {
    color: #14114b;
  }
}
