body {
  background-image: image-url('homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-bar {
  background-color: #402519;
}

img {
  width: 75px;
  margin-left: 5px;
}

.search-container {
  max-width: 500px;
  padding: 2rem;
  margin: auto;
  height: 700px;
  padding-top: 150px;
  margin-top: -75px;
}

.search-bar {
  margin-bottom: 1rem;
  max-width: 600px;
  margin: auto;

  label {
    color: black;
  }
}

.results-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
  max-width: 600px;
  margin: auto;
}

.coffee-tile {
  background-color: #eeeeee;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  margin: auto;
  padding: 15px;
  text-align: center;
  width: 150px;
  height: 250px;
}

.coffee-tile h6 {
  margin: 0px;
  font-family: cursive;
}

.coffee-tile p {
  margin: 0px;
  font-size: 12px;
}

.coffee-tile .roast {
  font-size: 10px;
  color: grey;
}

.image {
  width: 100px;
  height: 100px;
  background-color: #d3c2fa;
  margin: auto;
  margin-bottom: 10px;
}

.details {
  display: inline;
  font-size: 10px;
}

@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button){
    background-color: #402519;
  }
}
