.show-main {
  max-width: 500px;
  margin: auto;
  margin-top: 4rem;
  text-align: center;

  img {
    width: 300px;;
  }

  .coffee-details {
    width: 300px;
    margin-top: 3rem;
    margin:auto;
  }
}
